### Maven ###
target/
logs
.m2/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### MacOS ###
.DS_Store

### Eclipse ###
*.settings
*.project
HELP.md
mvnw
mvnw.cmd
*.classpath
